<p class="instruction">Please make a move.</p>
<%= content_for :game_js do %>
  <script type="text/javascript">
    $(document).ready(function(){

      function clear(){
        return !taken($(this)) ? $(this).html("") : false;
      }

      function addPreview(){
        return !taken($(this)) ? $(this).html("<span class='letterPreview'>" + playerLetter + "</span>") : false;
      }

      function taken(field){
        return boardState[field.attr('id')] !== ""
      }

      function updateBoardState(state) {
        boardState = state;
        updateBoardMarkup();
      }

      function updateBoardMarkup() {
        $('td.field').each(function(){
          fieldID = $(this).attr('id');
          letter = boardState[fieldID];
          letter == "" ? clear() : $(this).html("<span class=" + letter + ">" + letter + "</span");
        });
      }

      $('td.field').click(function(){
        var id = $(this).attr('id');
        if(!taken($(this))){
          boardState[id] = playerLetter;
          $.ajax({
            type: "POST",
            url: "/games/" + <%= @game.id %> + "/move",
            data: {board_state: boardState},
            success: function(data) { updateBoardState(data); },
            error: function(data) { updateBoardState($.parseJSON(data.responseText)); },
            dataType: "JSON"
          });
        }
      });

      playerLetter = "X";
      boardState = <%= @board_state.html_safe %>;

      updateBoardMarkup(boardState);
      $('td.field').hover(addPreview, clear);
    });
  </script>
<% end %>
