<p class="instruction">Please make a move.</p>
<%= content_for :game_js do %>
  <script type="text/javascript">
    $(document).ready(function(){

      function clear(){
        return !taken($(this)) ? $(this).html("") : false;
      }

      function addPreview(){
        return !taken($(this)) ? $(this).html("<span class='letterPreview'>" + playerLetter + "</span>") : false;
      }

      function taken(field){
        return boardState[field.attr('id')] !== ""
      }

      function endGame() {
        $('.instruction').html('<p class="notice">GAME OVER!</p><%= escape_javascript(render :partial => '/games/form') %>');
        gameOver = true;
      }

      function updateBoardState(state) {
        boardState = state;
        updateBoardMarkup();
      }

      function updateGameStatus(data) {
        if(data.gameOver){
          endGame();
          showWinner(data.winningRow, 3);
        }
      }

      function updateBoardMarkup() {
        $('td.field').each(function(){
          fieldID = $(this).attr('id');
          letter = boardState[fieldID];
          letter == "" ? clear() : $(this).html("<span class=" + letter + ">" + letter + "</span");
        });
      }

      function showWinner(winningRow, repeats) {
        $('td.field').each(function(){
          if($.inArray($(this).attr('id'), winningRow) > -1){
            for(i=0;i<repeats;i++){
              $(this).fadeOut(300).fadeIn(300);
            }
          }
        });
      }


      $('td.field').click(function(){
        var id = $(this).attr('id');
        if(!taken($(this))){
          boardState[id] = playerLetter;
          $.ajax({
            type: "POST",
            url: "/games/" + <%= @game.id %> + "/move",
            data: {board_state: boardState},
            success: function(data) { updateBoardState($.parseJSON(data.boardState)); updateGameStatus(data) },
            error: function(data) { updateBoardState($.parseJSON(data.responseText)); updateGameStatus($.parseJSON(data.responseText))},
            dataType: "JSON"
          });
        }
      });

      playerLetter = "X";
      boardState = <%= @board_state.html_safe %>;
      gameOver = false;

      updateBoardMarkup(boardState);
      $('td.field').hover(addPreview, clear);
    });
  </script>
<% end %>
