<table id="gameboard">
  <tr>
    <td id="A1" class="field border right bottom"></td>
    <td id="A2" class="field border left bottom right"></td>
    <td id="A3" class="field border left bottom"></td>
  </tr>
  <tr>
    <td id="B1" class="field border top right bottom"></td>
    <td id="B2" class="field border top right bottom left"></td>
    <td id="B3" class="field border top left bottom"></td>
  </tr>
  <tr>
    <td id="C1" class="field border top right"></td>
    <td id="C2" class="field border left top right"></td>
    <td id="C3" class="field border left top"></td>
  </tr>
</table>
